# -*- mode: snippet -*-
# name: map
# key: map!
# --
(map! :leader $0
      :after ${6:mode}
      :map ${5:mode-mode-map}
      :prefix "${1:prefix}"
      :desc "${4:description}"
      :n "${2:key}" #'${3:command})
