# -*- mode: snippet -*-
# name: map
# key: map
# --
(map! $1:leader
      $2:after ${3:mode}
      $4:map ${5:mode}-mode-map
      $6:prefix "${7:prefix}"
      :desc "${8:description}"
      :n "${9:key}" #'${10:command})$0
